@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 99%);
  --foreground: hsl(220, 30%, 6%);

  --color-primary-50: hsl(210, 100%, 95%);
  --color-primary-100: hsl(210, 100%, 92%);
  --color-primary-500: hsl(210, 98%, 42%);
  --color-primary-600: hsl(210, 98%, 55%);
  --color-primary-700: hsl(210, 100%, 35%);

  --color-success: #2fb344;
  --color-success-bg: #ecfaee;
  --color-danger: #d63939;
  --color-danger-bg: #fdeded;
  --color-warning: #f76707;
  --color-warning-bg: #fef1e8;
  --color-info: #4299e1;
  --color-info-bg: #eaf4fd;

  --color-border: hsl(220, 20%, 88%);
  --color-muted: hsl(220, 20%, 42%);

  --shadow-elevation: hsla(220, 30%, 5%, 0.07) 0px 4px 16px 0px, hsla(220, 25%, 10%, 0.07) 0px 8px 16px -5px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  --color-brand-50: var(--color-primary-50);
  --color-brand-100: var(--color-primary-100);
  --color-brand-500: var(--color-primary-500);
  --color-brand-600: var(--color-primary-600);
  --color-brand-700: var(--color-primary-700);
}

body {
  background: var(--background);
  color: var(--foreground);
}
